In [1]:
import pandas as pd

# Series

In [25]:
city1 = pd.Series([12,-6,8,-3])  #noting down the temperature of a city on different days.

In [26]:
#Series is a one dimensional labelled array which can hold any datatype.
city1

0    12
1    -6
2     8
3    -3
dtype: int64

In [21]:
city1.values

array([12, -6,  8, -3])

In [22]:
city1.index   #it gives the start postion and end position of the indices and step increments

RangeIndex(start=0, stop=4, step=1)

In [6]:
#datatype dtype 
city1.dtype

dtype('int64')

In [27]:
#to change the index values 
city2 = pd.Series([12, -6,  8, -3], index = ['Day1','Day2','Day3','Day4'])

In [29]:
city2

Day1    12
Day2    -6
Day3     8
Day4    -3
dtype: int64

In [31]:
city2['Day3']

8

In [33]:
city2[['Day1','Day4']]

Day1    12
Day4    -3
dtype: int64

In [34]:
#to check on which on days the temp >0 
city2>0

Day1     True
Day2    False
Day3     True
Day4    False
dtype: bool

In [36]:
#to take out the values separately, 
city2[city2>0]

Day1    12
Day3     8
dtype: int64

In [38]:
#min and max fuction 
city2.min()

-6

In [39]:
city2.max()

12

In [42]:
city2[(city2>2) & (city2<9)]

Day3    8
dtype: int64

In [43]:
#scalar operations are also possible 
city2+3

Day1    15
Day2    -3
Day3    11
Day4     0
dtype: int64

In [44]:
city2-1

Day1    11
Day2    -7
Day3     7
Day4    -4
dtype: int64

In [45]:
city2*3

Day1    36
Day2   -18
Day3    24
Day4    -9
dtype: int64

In [46]:
city2/2

Day1    6.0
Day2   -3.0
Day3    4.0
Day4   -1.5
dtype: float64

In [51]:
#creating a series object using a dictionary

data = {'Kerala':28,'Andhra':25,'TN':31,'Karnataka':18,'Delhi':38}

In [52]:
#convert this into a series 
data = pd.Series(data)
data

Kerala       28
Andhra       25
TN           31
Karnataka    18
Delhi        38
dtype: int64

In [53]:
states = ['Andhra','Delhi','TN','MP','Kerala','Karnataka']

In [56]:
city3 = pd.Series(data,index=states)
city3

Andhra       25.0
Delhi        38.0
TN           31.0
MP            NaN
Kerala       28.0
Karnataka    18.0
dtype: float64

In [57]:
#isna and notna function 

city3.isna()

Andhra       False
Delhi        False
TN           False
MP            True
Kerala       False
Karnataka    False
dtype: bool

In [59]:
city3[city3.isna()]

MP   NaN
dtype: float64

In [61]:
city3[city3.notna()]

Andhra       25.0
Delhi        38.0
TN           31.0
Kerala       28.0
Karnataka    18.0
dtype: float64